.login-form {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid red;
}
