.recipe-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px;
  height: 100%;
}

.css-821wyw-MuiSvgIcon-root {
  height: 0.8em;
}

.recipe-navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  gap: 0.5em;
  font-weight: bold;
}

.recipe-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  height: auto;
  width: 100%;
}

.recipe-type {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: var(--borderRadius);
  background-color: var(--navbarBackground);
  border: 3px solid var(--invisibleBorder);
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: var(--boxShadow);
  transition: border 300ms ease-in-out;
}

.recipe-type:hover {
  border-color: var(--themeColor);
  cursor: pointer;
}

img {
  border-radius: var(--borderRadius);
  height: 150px;
  width: 150px;
}

.cuisine-img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.recipe-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  font-size: var(--text-xl);
  font-weight: bold;
  padding: 5px 0px 5px 0px;
}

.recipe-duration {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  font-size: var(--text-small);
  color: var(--secondaryColor);
  padding: 5px 0px 5px 0px;
}

.cuisine-type:hover {
  cursor: pointer;
  border: 3px solid var(--themeColor);
}

.recipe-navigation a {
  color: var(--themeColor);
  text-decoration: none;
}

.recipe-navigation a:hover {
  text-decoration: underline;
}
