.main-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    width:100%;
}

.explore-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    flex-direction: column;
    flex:2;
    background-color: white;
}