:root {
  --popUp-color: darkGreen;
}

.pop-up {
  position: fixed;
  bottom: 30px;
  border: 1px solid var(--border);
  background-color: var(--cardBackgroundColor);
  animation: load-up 100ms ease-in;
  min-width: 350px;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  border-radius: var(--borderRadius);
  z-index: 10000;
}

.pop-up::before {
  bottom: 0px;
}

.pop-message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  width: 100%;
  padding-left: 10px;
}

.pop-content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  border: 1px solid var(--info);
  background-color: var(--info);
  min-width: 15%;
  font-size: var(--text-4xl);
  color: var(--cardBackgroundColor);
  font-weight: lighter;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@keyframes load-up {
  0% {
    bottom: 0px;
    opacity: 0.8;
  }

  100% {
    bottom: 30px;
    opacity: 1;
  }
}
