.settings-content .sensitive .heading {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  font-size: var(--text-2xl);
  font-weight: bolder;
  padding-top: 5px;
  padding-bottom: 5px;
}

.settings-content .sensitive .sub-heading {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  font-size: var(--text-small);
  padding-bottom: 10px;
  color: var(--secondaryColor);
}

.settings-content .sensitive {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}
