.post-creation-content {
  background-color: var(--cardBackgroundColor);
  border-radius: var(--borderRadius);
  min-width: 500px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid var(--border);
  position: relative;
}
.posts-form {
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.form-header {
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  font-size: var(--text-2xl);
  font-weight: 600;
  padding: 10px 0px 10px 0px;
}

.form-content {
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.form-action {
  display: flex;
  align-items: center;
  align-content: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
}

.form-action button {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  padding: 8px 20px;
  background-color: var(--buttonBg);
  border-radius: var(--borderRadius);
  outline: none;
  border-style: none;
  font-size: var(--text-base);
  cursor: pointer;
  color: var(--buttonColor);
}

.form-action button:hover {
  background-color: var(--buttonHover);
}

.form-content textarea {
  resize: none;
  margin: 0;
  padding: 15px 10px;
  font-size: 1rem;
  width: 100%;
  border: none;
  max-height: 500px;
  font-size: var(--text-lg);
}

.form-content textarea:focus{
  border: none;
  outline: none;
}

.form-content .post-attachments{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  width:100%;
}

.photo-attachment{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  padding:10px;
  cursor: pointer;
}

.photo-attachment:hover{
  background-color: var(--primaryBackgroundHover);
  border-radius: 50%;
}

.photo-attachment:hover .css-i4bv87-MuiSvgIcon-root{
  color:black;
}


.form-content textarea::placeholder {
  font-size: var(--text-lg);
}

.form-action .invalid-button{
  cursor: not-allowed;
  background-color: var(--buttonDisabled);
}

.form-action .invalid-button:hover{
  background-color: var(--buttonDisabled);
}

.form-action .loader {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: right;
  align-items: center;
  border-radius: 50%;
  border-right: 2px solid var(--background);
  border-bottom: 2px solid var(--background);
  border-left: 2px solid var(--background);
  border-top: 2px solid var(--buttonDisabled);
  animation: spin 0.75s ease infinite;
}


.posts-form .profile-image{
  padding:0px;
}

.posts-form .user-data{
  margin: 10px 0px 0px 0px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}