.profile-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px;
  height: 100%;
}

.profile-content .profile-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  width: 100%;
}
.verifiedImage {
  width: 20px;
  height: 20px;
}
.profile-info .profile-image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}

.profile-info .profile-image img {
  width: 150px;
  height: 150px;
}

.profile-details {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 30px;
  height: 100%;
  width: 300px;
}

.profile-details .profile-interaction {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  width: 100%;
  margin: 10px 0px 10px 0px;
  padding: 0;
  gap: 1em;
}

.profile-interaction .name {
  display: flex;
  font-size: var(--text-2xl);
}

.profile-interaction .verify-badge {
  display: flex;
  justify-content: center;
}

.profile-interaction .interaction {
  display: flex;
}

.profile-details .profile-stats {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.profile-stats .stats {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 20px;
}

.profile-details .profile-bio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: var(--text-small);
}

.profile-data {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px 0px 10px 0px;
}

.profile-data nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 2em;
  border-bottom: 1px solid var(--border);
}

.profile-data .profile-nav {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.profile-data .profile-nav:hover {
  cursor: pointer;
}

.profile-data a {
  color: var(--primaryColor);
  text-decoration: none;
  border-bottom: 3px solid var(--invisibleBorder);
}

.profile-data a:hover {
  cursor: pointer;
  border-bottom: 3px solid var(--themeColor);
}

.profile-data .active {
  cursor: pointer;
  border-bottom: 3px solid var(--themeColor);
}

.profile-details button {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  padding: 8px 20px;
  background-color: rgb(51, 51, 233);
  border-radius: var(--borderRadius);
  outline: none;
  border-style: none;
  font-size: var(--text-base);
  cursor: pointer;
  color: var(--buttonColor);
}

.form-action button:hover {
  background-color: var(--buttonHover);
}

.userProfile-content {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
}

.userProfile-content .post {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: inherit;
  padding: 5px;
}

.userProfile-content .user-post{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;
  padding: 10px;
  width: 60%;
  margin: 5px;
  background-color: var(--cardBackgroundColor);
  cursor: pointer;
  border-radius: var(--borderRadius);
  box-shadow: var(--boxShadow);
}
