.quick-actions-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px;
  border-radius: var(--borderRadius);
}

.quick-actions-content .search-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: row;
  width: 100%;
  border: 1px solid var(--border);
  border-radius: var(--roundBorder);
  padding-left: 10px;
  background-color: var(--cardBackgroundColor);
  margin-top: 5px;
  margin-bottom: 2px;
  position: relative;
}

.suggestions-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px;
  margin: 15px 5px;
  background-color: var(--cardBackgroundColor);
  border-radius: 6px;
  border: 1px solid var(--border);
}

.suggestions-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px 5px 15px 5px;
  font-size: var(--text-1xl);
  font-weight: 600;
}

.suggestions-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.suggestions-profile .profile-name {
  font-size: var(--text-base);
  font-weight: 600;
}

.profile-name a {
  text-decoration: none;
  color: var(--primaryColor);
  margin-right: 10px;
  font-weight: bold;
}

.profile-name a:hover {
  text-decoration: underline;
  color: var(--primaryColor);
  margin-right: 10px;
  font-weight: bold;
}

.profile-suggestions-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: row;
}
.profile-info .profile-name {
  margin-left: 5px;
}

.suggestions-profile .done-msg {
  margin-left: 10px;
  margin-right: 10px;
  color: var(--secondaryColor);
}

.profile-suggestions-info img {
  width: 30px;
  height: 30px;
}

.suggestions-profile .profile-action {
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
  margin-right: 10px;
}

.suggestions-profile button {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: row;
  padding: 5px 10px 5px 10px;
  font-size: var(--text-small);
  width: 100%;
  border: 0;
  background-color: var(--buttonBg);
  color: var(--buttonColor);
  border-radius: var(--roundBorder);
  font-family: inherit;
}

.suggestions-profile button:hover {
  background-color: var(--buttonHover);
  cursor: pointer;
}

.quick-actions-content .search-suggestions {
  box-shadow: 0px 0px 20px var(--border);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  width: 100%;
  border-radius: var(--borderRadius);
  background-color: var(--cardBackgroundColor);
  height: auto;
  position: absolute;
  top: 40px;
  right: 0px;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.suggestion-content {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
}

.suggestion-data {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  color: var(--secondaryColor);
}

.suggestion-list {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
}

.suggestion-name {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
}

.suggestion-name:hover {
  background-color: var(--primaryBackground);
  border-radius: var(--borderRadius);
}


.center-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.suggestions-content .loader {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-right: 2px solid var(--buttonDisabled);
  border-bottom: 2px solid var(--buttonDisabled);
  border-left: 2px solid var(--buttonDisabled);
  border-top: 2px solid var(--background);
}
