.side-nav-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  font-size: var(--text-xl);
  height:100%;
  padding:  5px;
}

.side-nav-container a {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  text-decoration: none;
  color: var(--primaryColor);
  font-size: var(--text-1xl);
  border-radius: var(--borderRadius);
  padding: 8px 20px 8px 20px;
}

.side-nav {
  overflow: auto;
  transition: color 1s ease-in-out;
}

.side-nav a:hover {
  color: white;
  background-color: var(--linkHover);
}

.side-nav .active {
  background-color: var(--linkActive);
  color: white;
  border-radius: var(--borderRadius);
  width: 100%;
}

.side-nav ul,li{
    margin:0;
    padding:0;
    list-style-type: none;
}

.side-nav li{
  padding: 2px;
}