.side-nav-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  font-size: var(--text-xl);
}

.side-nav-container a {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  text-decoration: none;
  color: var(--primaryColor);
  font-size: var(--text-1xl);
}

.side-nav {
  overflow: auto;
}

.side-nav .menu-items {
  margin: 10px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}

.side-nav .menu-items:hover {
  cursor: pointer;
}

.side-nav .menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 2px;
  padding: 10px;
  font-size: var(--text-1xl);
  width: 100%;
  border-radius: var(--borderRadius);
}

.side-nav .menu:hover {
  background-color: var(--linkColor);
}

.side-nav a:hover {
  color: white;
}

.side-nav .active {
  background-color: var(--linkColor);
  color: white;
  border-radius: var(--borderRadius);
  width: 100%;
}
