.verify-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  height: 100%;
  padding: 10px;
}

.verify-content .heading {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  font-size: var(--text-3xl);
  font-weight: bolder;
  padding-top: 5px;
  padding-bottom: 5px;
}

.verify-content .explanation {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  font-size: var(--text-base);
  padding: 10px 0px 10px 0px;
  line-height: 1.5em;
}

.verify-content .action {
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px 0px 20px 0px;
}

.verify-content .action button {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  padding: 8px 20px;
  background-color: var(--buttonBg);
  border-radius: var(--borderRadius);
  outline: none;
  border-style: none;
  font-size: var(--text-base);
  cursor: pointer;
  color: var(--buttonColor);
}

.verify-content .action .invalid-button {
  cursor: not-allowed;
  background-color: var(--buttonDisabled);
}
