.recipe-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px;
  height: 100%;
}

.css-821wyw-MuiSvgIcon-root {
  height: 0.8em;
}

.recipe-navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  margin: 10px 0px 0px 0px;
  gap: 0.5em;
  font-weight: bold;
}

.cuisine-img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.cuisine-type:hover {
  cursor: pointer;
  border: 3px solid var(--themeColor);
}

.recipe-navigation a {
  color: var(--themeColor);
  text-decoration: none;
}

.recipe-navigation a:hover {
  text-decoration: underline;
}
