.App {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;
  box-sizing: border-box;
  height: 100vh;
}
