:root {
  --background: hsl(210, 19%, 88%);
  --primaryColor: hsl(0, 0%, 0%);
  --secondaryColor: hsl(0, 0%, 50%);

  --primaryBackground: hsl(24.6 95% 53.1%);
  --primaryBackgroundHover: hsl(24.6 95% 58.1%);

  --cardBackgroundColor: hsl(0, 0%, 100%);

  --text-small: 0.945rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;

  --navbarColor: hsl(0, 0%, 0%);
  --navbarBackground: hsl(0, 0%, 100%);

  --linkColor: hsl(0, 0%, 50%);
  --linkActiveColor: hsl(0, 0%, 20%);

  --dangerBorder: hsl(0, 100%, 50%);
  --border: hsl(0, 0%, 0%, 0.17);
  --borderRadius: 6px;
  --borderFocus: hsl(0, 0%, 50%);

  --buttonHover: hsl(0, 0%, 10%);
  --buttonBg: hsl(0, 0%, 0%);
  --buttonColor: hsl(0, 0%, 100%);
  --buttonBorder: 6px;

  --buttonDisabled: hsl(0, 0%, 27%);

  --placeHolderFontSize: 16px;
}
/* :root[data-theme="dark"] {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;
  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;
  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;
  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --primary: 217.2 91.2% 59.8%;
  --primary-foreground: 222.2 47.4% 11.2%;
  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;
  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;
  --ring: 224.3 76.3% 48%;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  font-size: var(--text-base);
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--primaryColor);
}

#root {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.center-modal {
  display: flex;
  height: 50em;
  width: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  letter-spacing: normal;
}

.center-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid var(--border);
  border-radius: var(--borderRadius);
  padding: 20px;
  background-color: var(--cardBackgroundColor);
  max-width: 25em;
}

.center-content-header {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.center-content-body {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.center-content-footer {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (width<=800px) {
  body {
    --text-small: 0.8rem;
    --text-base: 0.9rem;
    --text-lg: 1rem;
    --text-xl: 1.125rem;
    --text-2xl: 1.25rem;
    --text-3xl: 1.55rem;
    --text-4xl: 1.875rem;
  }
}
