:root {
  --background: hsl(216deg 33.33% 97.06%);
  --themeColor: hsl(39, 100%, 50%);
  --primaryColor: hsl(0, 0%, 0%);
  --secondaryColor: hsl(0, 0%, 50%);

  --primaryBackground: hsl(210, 19%, 94%);
  --primaryBackgroundHover: hsl(210, 19%, 85%);

  --cardBackgroundColor: hsl(0, 0%, 100%);

  --boxShadow: 0px 0px 2px hsl(0, 0%, 78%);

  --text-1xs: 0.6rem;
  --text-xs: 0.8rem;
  --text-small: 0.945rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;

  --navbarColor: hsl(0, 0%, 0%);
  --navbarBackground: hsl(0, 0%, 100%);

  --linkHover: hsl(39, 100%, 50%);
  --linkActive: hsl(39, 100%, 57%);

  --dangerBorder: hsl(0, 100%, 50%);
  --border: hsl(0, 0%, 0%, 0.17);
  --borderRadius: 4px;
  --roundBorder: 18px;
  --borderFocus: hsl(0, 0%, 50%);
  --invisibleBorder: hsla(0, 0%, 0%, 0);

  --buttonHover: hsl(0, 0%, 10%);
  --buttonBg: hsl(0, 0%, 0%);
  --buttonColor: hsl(0, 0%, 100%);
  --buttonBorder: 6px;
  --minimalButtonColor: hsla(0, 0%, 33%, 0.5);

  --buttonDisabled: hsl(0, 0%, 27%);

  --placeHolderFontSize: 16px;

  --info: hsl(203, 85%, 54%);
}

/* :root[data-theme="dark"] {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;
  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;
  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;
  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --primary: 217.2 91.2% 59.8%;
  --primary-foreground: 222.2 47.4% 11.2%;
  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;
  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;
  --ring: 224.3 76.3% 48%;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  font-size: var(--text-base);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
  color: var(--primaryColor);
  scroll-behavior: smooth;
}

#notify-portal {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.center-modal {
  display: flex;
  height: 50em;
  width: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  letter-spacing: normal;
}

.center-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid var(--border);
  border-radius: var(--borderRadius);
  padding: 20px;
  background-color: var(--cardBackgroundColor);
  max-width: 25em;
}

.center-content-header {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.center-content-body {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.center-content-footer {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (width<=800px) {
  body {
    --text-small: 0.8rem;
    --text-base: 0.9rem;
    --text-lg: 1rem;
    --text-xl: 1.125rem;
    --text-2xl: 1.25rem;
    --text-3xl: 1.55rem;
    --text-4xl: 1.875rem;
  }
}

@media (max-width: 1060px) {
  .side-nav-container {
    display: none;
  }
  .toggle-button {
    display: flex;
  }
}

@media (max-width: 800px) {
  .side-nav-container {
    display: none;
  }

  .toggle-button {
    display: flex;
  }

  .post-content {
    width: 100%;
  }

  .post-creation {
    width: 100%;
  }

  .post-creation-content {
    min-width: 80%;
  }

  .trend-heading {
    width: 100%;
  }

  .search-content {
    width: 100%;
  }

  .search-content input {
    width: 150px;
  }

  .explore-container {
    display: none;
  }

  .center-container {
    max-width: 100%;
  }

  .post-container {
    width: 100%;
  }

  .profile-content {
    padding: 0px;
    height: 100%;
  }
  .profile-content .profile-info {
    padding: 0px;
  }

  .profile-info .profile-image img {
    width: 90px;
    height: 90px;
  }

  .profile-details {
    margin-left: 10px;
    width: auto;
    justify-content: flex-start;
    align-content: flex-start;
  }

  .profile-data nav {
    gap: 1em;
  }

  .follower-content .profile {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 100px;
  }
}


