:root {
  --background: hsl(0, 0%, 100%);
  --primaryColor: hsl(0, 0%, 0%);
  --secondaryColor: hsl(0, 0%, 50%);

  --headingFontSize: 48px;
  --subHeadingFontSize: 36px;
  --bodyFontSize: 20px;

  --border: hsl(0, 0%, 0%, 0.17);
  --borderRadius: 6px;
  --borderFocus: hsl(0, 0%, 50%);

  --buttonHover: hsl(0, 0%, 10%);
  --buttonBg: hsl(0, 0%, 0%);
  --buttonColor: hsl(0, 0%, 100%);
}
/* :root[data-theme="dark"] {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;
  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;
  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;
  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --primary: 217.2 91.2% 59.8%;
  --primary-foreground: 222.2 47.4% 11.2%;
  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;
  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;
  --ring: 224.3 76.3% 48%;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  font-size: var(--bodyFontSize);
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  transform-origin: top center;
}

.center-modal {
  display: flex;
  height: inherit;
  width: inherit;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.center-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid var(--border);
  border-radius: var(--borderRadius);
  padding: 20px;
}

.center-content-header {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.center-content-body {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.center-content-footer {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

/* @media (max-width: 870px) {
  body {
    --headingFontSize: 42px;
    --subHeadingFontSize: 28px;
    --bodyFontSize: 12px;
  }
} */
