.recipe-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px;
  height: 100%;
}

.css-821wyw-MuiSvgIcon-root {
  height: 0.8em;
}

.recipe-navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  margin: 10px 0px 0px 0px;
  font-weight: bold;
}

.cuisine-img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.cuisine-type:hover {
  cursor: pointer;
  border: 3px solid var(--themeColor);
}

.recipe-navigation a {
  color: var(--themeColor);
  text-decoration: none;
}

.recipe-navigation a:hover {
  text-decoration: underline;
}

.recipe-navigation .nav-data {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: row;
  gap:1em;
}

.recipe-navigation .recipe-filter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-start;
  flex-direction: row;
  width: 100%;
  gap:2em;
}

.recipe-filter .filter-data {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: row;

}

.filter-data select {
  padding: 5px;
}

.filter-data .field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

.data-loader-action button {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  padding: 8px 20px;
  background-color: var(--themeColor);
  border-radius: var(--borderRadius);
  outline: none;
  border-style: none;
  font-size: var(--text-base);
  cursor: pointer;
  color: var(--buttonColor);
}

